.login {
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;
  
    .card {
      width: 50%;
      display: flex;
      background-color: whitesmoke;
      border-radius: 10px;
      min-height: 600px;
      overflow: hidden;
  
      .left {
        width: 100%;
        height: 30%;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
        background-color: rgb(89, 1, 190);
        
  
        h1 {
          font-size: 100px;
          line-height: 100px;
        }
        
       
  
        span {
          font-size: 14px;
        }
        
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: whitesmoke;
          color: rgb(4, 4, 4);
          font-weight: bold;
          cursor: pointer;
        }
      }
  
      .right {
        flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
  
        h1 {
        color: #555;
        }
        
        form {
          display: flex;
          flex-direction: column;
          gap: 30px;
          
          input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
          }
          
          button {
            width: 50%;
            padding: 10px;
            border: none;
            background-color: #0e06a7;
            color: white;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
