@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 10px 20px !important;
    height: 50px !important;
    border-bottom: 1px solid themed("border") !important;
    position: sticky !important;
    top: 0 !important;
    background-color: themed("bg") !important;
    color:themed("textColor") !important;
    z-index: 999 !important;

    margin-bottom: 10px;

    .navbarleft {
      display: flex !important;
      align-items: center !important;
      gap: 30px !important;

      span {
        font-weight: bold !important;
        font-size: 20px !important;
        color: themed("logo") !important;
      }

      .search {
        display: flex !important;
        align-items: center  !important;
        gap: 10px !important;
        border: 1px solid themed("border") !important;
        border-radius: 5px !important;
        padding: 5px !important;

        input {
          border: none !important;
          width: 500px !important;
          background-color: transparent !important;
          color: themed("textColor") !important;

          @include mobile{
            display: none !important;
          }

          @include tablet{
            width: 200px !important;
          }
        }
      }
    }

    .right {
      display: flex !important;
      align-items: center !important;
      gap: 20px;

      @include mobile{
        display: none !important;
      }

      .user {
        display: flex !important;
        align-items: center !important;
        gap: 10px !important;
        font-weight: 500 !important;

        @include tablet{
          display: none !important;
        }

        img {
          width: 30px !important;
          height: 30px !important;
          border-radius: 50% !important;
          object-fit: cover !important;
        }

        span {
        }
      }
    }
  }
}