.left{
  margin-left: 10%;
  flex: 0.25;
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  height: 80vh;
}

.left .icons{
  padding: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.left .icons:hover{
  cursor: pointer;
}

.link{
  text-decoration: none;
}
